/home/shaon/Cog_Science_AI/assign_1/subj1

/home/shaon/Cog_Science_AI/assign_1/Inferior_frontal_face_vs_house.csv
/home/shaon/Cog_Science_AI/assign_1/Inferior_frontal_face_vs_scissors.csv

/home/shaon/Cog_Science_AI/assign_1/vt_face_vs_house.csv
/home/shaon/Cog_Science_AI/assign_1/vt_face_vs_scissors.csv

/home/shaon/Cog_Science_AI/subj1.zip
/home/shaon/Cog_Science_AI/assign_1/targets.csv
assign_1/subject1